body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://plus.unsplash.com/premium_photo-1678566154673-a728037f3f00?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHwxfDB8fHww);
    color: #ffffff;
    font-family: Tahoma;
    font-size: 16px;
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    display: block;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: inline-block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline-block;
    flex: none;
    
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  
  a:active { color: #dfdfe2;
  }
  
  a:visited {color: #3b3b4f;}
  
  a:hover {color: #0a0a23;}

  .footer {text-align: center;}

.input-label {display: block;
}

input[type="checkbox"] {margin: 5px;
}

input[type="radio"] {margin: 5px;
}

textarea {height: 70px;
}

::placeholder {text-align: center;
}